body {
	background: #181818;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.6) url('rova.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: darken;
	filter: blur(15px);
	z-index: -1;
}

.content {
	width: auto;
	height: 90vh;
	min-height: auto;
	display: grid;
	align-content: center;
    justify-content: center;
	justify-items: center;
    align-items: center;
}

.wel {
	padding: 10px 10px;
}

.tt {
	font-family: "Russo One", sans-serif;
    font-style: normal;
    font-size: 10rem;
    user-select: none;
}

.white {
	color: #e9e9e9;
}

.red {
	color: #ee3737;
}

.green {
	color: #17e721;
}

.foot {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	bottom: 30px;
}

.text_feet {
	color: #808080;
	user-select: none;
}

.button {
	width: 150px;
	height: 75px;
	padding: 5px 5px;
	margin: 20px 0 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	filter: blur(0.5px);
}

.bt_cl {
	width: 120px;
	height: 50px;
	background: #7979794f;
	border-radius: 5px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #cccccc;
	user-select: none;
	cursor: pointer;
	transition: .3s;
}

.bt_cl:hover {
	background: #2525257c;
}

.contents {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #181818;
}

.content-3d {
	position: relative;
	width: 200px;
	height: 300px;
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.content-3d span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: rotateY(calc(var(--i) * 50deg)) translateZ(280px) rotateX(0deg);
	-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #0002);
}

.tts span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform: rotateY(calc(var(--i) * 120deg)) translateZ(170px) rotateX(0deg);
	-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), #0002);
}

.content-3d span img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hidding {
	width: 100%;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	background: #181818b7;
}

.elmnt {
	width: 400px;
	height: 650px;
	background-image: linear-gradient(to bottom left, #fabfbf, #c6fcc6);
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	padding: 10px 10px;
	animation: show 0.12s;
}

@keyframes show {
	0% {
		width: 0px;
		height: 0px;
	}
	20% {
		width: 80px;
		height: 80px;
	}
	40% {
		width: 160px;
		height: 160px;
	}
	60% {
		width: 240px;
		height: 240px;
	}
	80%{
		width: 320px;
		height: 320px;
	}
	100% {
		width: 400px;
		height: 400px;
	}
}

.img-class {
	width: 390px;
	height: 400px;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 0 20px 0;
}

.img-class img {
	width: inherit;
	height: inherit;
	object-fit: contain;
}

.descrit {
	overflow: hidden;
	overflow-y: auto;
	max-height: 200px;
	margin: 25px 10px 10px 10px;
	font-size: 14px;
	font-family:'Courier New', Courier, monospace;
}

.descrit::-webkit-scrollbar {
	width: 5px;
	height: 10px;
}

.descrit::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 5px;
}

.descrit::-webkit-scrollbar-track {
	background: transparent;
}

.exit {
	position: absolute;
	top: 0;
	left: 0;
	background: #202020;
	width: 40px;
	height: 40px;
	margin: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	border-radius: 50%;
	color: #ccc;
	cursor: pointer;
}

.txt {
	font-size: 1.2rem;
}

#alasora {
	visibility: hidden;
}

.exit:hover {
	background: rgb(68, 68, 68);
}

.exit i{
    text-decoration: none;
	background: linear-gradient(to bottom left, #fabfbf, #c6fcc6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 24px;
    font-weight: bold; 
}

.home {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #202020;
	font-size: 22px;
}

/*.home:hover::after{
	content: "Menu";
	position: absolute;
	top: 55px;
	left: -5px;
	border-radius: 5px;
	background: #202020;
	width: 60px;
	height: 25px;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	font-size: 16px;
	font-family: monospace;
	color: #b6b6b6;
}*/

.home .list {
	display: none;
}

.home .list.afficher {
	display: block;
	position: absolute;
	width: 250px;
	height: 150px;
	top: 0;
	left: -10px;
	transform: translateY(45px);
	padding-bottom: 15px;
	animation: menu 1.5s;
}

@keyframes menu {
	from {
		transform: translateY(40px);
		width: 0px;
		height: 0px;
		overflow: hidden;
	}
}

.home .list ul {
	width: 100%;
	height: 100%;
	list-style: none;
	margin-left : -30px;
}

.home .list ul a {
	display: block;
	margin: 10px 0 10px 0;
	width: 215px;
	height: 30px;
	padding: 10px 0 0 10px;
	text-align:justify;
	background: #202020;
	border-radius: 10px;
	text-decoration: none;
	color: #b8b8b8;
	user-select: none;
	cursor: pointer;
	font-size: 18px;
	text-decoration: none;
}

.home .href,
.xx{
    text-decoration: none;
	background: linear-gradient(to bottom left, #fabfbf, #c6fcc6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 24px;
    font-weight: bold; 
	cursor: pointer;
}

@media (max-width: 1024px) {
	.txt {
		font-size: 5rem;
		background-size: cover;
		background-position: -2px -71px;
		background-repeat: no-repeat;
	}
	.button {
		width: 100px;
		height: 70px;
		margin: 10px 0 10px 0;
	}
	.bt_cl {
		width: 90px;
		height: 40px;
		font-size: 16px;
	}
	.text_feet {
		font-size: 12px;
	}
	.txt {
		font-size: 1.2rem;
	}
	.descrit {
		font-size: 14px;
	}
}

@media (max-width: 500px) {
	.txt {
		font-size: 3rem;
		background-size: cover;
		background-position: -2px -35px;
		background-repeat: no-repeat;
	}
	.button {
		width: 80px;
		height: 50px;
		margin: 5px 0 5px 0;
	}
	.bt_cl {
		width: 80px;
		height: 40px;
		font-size: 12px;
	}
	.text_feet {
		font-size: 10px;
	}
	.txt {
		font-size: 1rem;
	}
	.descrit {
		font-size: 12px;
	}
	.elmnt {
		width: 300px;
		height: 600px;
	}
	.img-class {
		width: 280px;
		height: 340px;
		margin: 0 0 15px 0;
	}
	.descrit {
		margin: 15px 10px 10px 10px;
	}
}